@keyframes appear-top {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes appear-bottom {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
