@keyframes error-appear {
  0% {
    transform: translate(0);
    opacity: 0;
  }

  25%,
  50%,
  75% {
    transform: translateX(-400px);
    opacity: 1;
  }

  100% {
    transform: translate(0);
    opacity: 0;
  }
}

@keyframes appear-top {
  0% {
    transform: translateY(-15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes appear-bottom {
  0% {
    transform: translateY(15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes appear-left {
  0% {
    transform: translateX(-15px);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}
